table {
  th {
    text-align: left;
    width: calc(100%/3);

    &:first-child {
      border: none;
    }
  }

  td {
    text-align: left;

    &:first-child {
      font-weight: 700;
    }
  }
}
